@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=Roboto+Slab:wght@400&display=swap');

body {
    margin: 0;
    font-family: 'Lusitana', serif;
    font-family: 'Roboto Slab', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #071013;
    color: white;
}

